.body {
    padding: 0;
    margin: 0;
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: "Lobster", cursive;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);

}

.butn {
    background: #c60d0d;
    border-radius: 7px;
    color: #fff;
    font-size: 30px;
    padding: 16px 25px;
    text-decoration: none;
}

.butn:hover{
    background: #fff;
    color: #df2b13;
}
.dice{
    color: #33ccff;
    background-color: aquamarine;
}
h1{
    color: rgb(162, 28, 13);
    text-align: center;
}
